@import "./colors.scss";


footer {
  width: 100wh;
  background-color: $navFootOpacityBackground;
  margin-top: 100px;
  position: absolute;
  left: 0;
  right: 0;
}
.footer--logo {
  font-size: 2rem;
}
.footer--down{
  background-color: $navFootBackground; 
  font-size: 0.8rem;
  color:black;
}