@import './colors.scss';
.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
  margin-top: 100px;
}
.btn-one {
  color: black;
  background-color: $navFootBackground;
  border-color: $myBlue;
  border-radius: 20px;
  width: 100px;
  border:1px solid $myBlue;

}
.btn-one:hover {
  color: black;
  background-color: $navFootOpacityBackground;
  border-color: $myBlue;
}
@media screen and (max-width: 600px)  {
  .form-content {
  margin-top: 60px;
  }
}