@import './colors.scss';

.navbar{
  background-color: $navFootBackground;
  padding:0.5rem 0rem;
}
.nav-item {
    margin-left: 10px;
    margin-right: 10px;
  }
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    font-weight: 600;
}
